%input.input.input--text.input--datepicker{ type: 'date', id: properties[:id], class: properties[:class], name: properties[:name], placeholder: properties[:placeholder], value: properties[:value] || "", data: properties[:data] ? properties[:data] : {} }
= render :partial => 'components/forms/partials/tooltip', :locals => { tooltip: properties[:tooltip] }
